<!-- myapp/templates/user_profile_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User Profile Form</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <h1>Register</h1>
    <form method="post" id="registerForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <script src="../static/js/main.js"></script>
</body>
</html>
